.container{
    display: grid;
    place-items: center;
   
}
.mainContainer{
    width: 80%;
    background-color: white;
    margin: 20px 0 60px 0;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    place-items: center;
}